@using MathTestSystem.UI.Services
@inject AuthStateService Auth
@inject NavigationManager Nav

@if (Auth.IsAuthenticated)
{
    <p>Hello, @Auth.UserName</p>

    @if (Auth.Roles.Contains("Student"))
    {
        <NavLink href="/student/results">My Results</NavLink>
    }

    @if (Auth.Roles.Contains("Teacher"))
    {
        <NavLink href="/teacher/upload">Upload Exam</NavLink>
    }
}
else
{
    <li class="nav-item">
        <NavLink class="nav-link" href="/login">Login/Logout</NavLink>
    </li>
}